{
	"staging-mysql-url": "mysql://acme:hunter2@database.com:3306",
	"jira-url": "https://acmeinc.atlassian.net/browse/",
	"domain": "acme.com",
	"demo-db-creds": "acme:hunter2",
	"staging-ip": "6.969.696.969"
}
